/** @format */

.checkout_header {
  background-color: var(--black-color);
  padding-bottom: 10px;
}

.checkout_container {
  font-family: var(--normal-font);
  padding-bottom: 100px;
}

.checkout_heading {
  color: var(--coffee-color);
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.checkout_main {
  margin-top: 40px;
  display: flex;
}

.checkout_main--left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.checkout_shipping--info,
.checkout_payment--info,
.checkout_shipping--form,
.checkout_payment--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.checkout_payment--form {
  gap: 12px;
}

.checkout_main--left input[type="text"],
.checkout_main--left input[type="number"] {
  height: 35px;
  width: 100%;
  font-size: 16px;
  padding-left: 8px;
}

.checkout_payment--cardNumber::-webkit-outer-spin-button,
.checkout_payment--cardNumber::-webkit-inner-spin-button,
.checkout_shipping--phone::-webkit-outer-spin-button,
.checkout_shipping--phone::-webkit-inner-spin-button {
  display: none;
}

.checkout_payment--item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout_payment--group-item {
  display: flex;
  gap: 30px;
}

.checkout_payment--group-radio {
  display: flex;
  width: 100%;
  gap: 40px;
}

.checkout_payment--radio {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkout_shipping--heading,
.checkout_payment--heading,
.checkout_product--heading {
  font-size: 17.5px;
  font-weight: 800;
}

.checkout_main--right {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.checkout_product--heading {
  margin-bottom: 20px;
}

.checkout_product--header {
  display: flex;
  font-size: 14.5px;
  font-weight: 600;
}

.checkout_summary--info {
  display: flex;
  justify-content: space-between;
}

.checkout_summary--item {
  display: flex;
}

.checkout_summary--main {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.checkout_button {
  height: 38px;
  width: 100%;
  max-width: 200px;
  border-radius: 20px;
  border: none;
  background-color: var(--button-color);
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.invalid {
  border: 1.2px solid rgba(255, 0, 0, 0.8);
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
  transition: border-color 0.3s ease, box-shadow 0.2s ease;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .checkout_main {
    flex-direction: column;
    gap: 40px;
  }

  .checkout_main--left,
  .checkout_main--right {
    width: 100%;
    margin: 0;
  }

  .checkout_main--left {
    max-width: 400px;
  }

  .checkout_main--right {
    max-width: 100%;
  }

  .checkout_product--list {
    margin: 0;
  }

  .checkout_summary--info {
    gap: 20px;
  }
}

@media (max-width: 740px) {
  .checkout_header {
    padding-left: 15px;
  }

  .checkout_container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .checkout_main {
    flex-direction: column;
    gap: 40px;
  }

  .checkout_main--left,
  .checkout_main--right {
    width: 100%;
    margin: 0;
  }

  .checkout_main--left {
    max-width: 400px;
  }

  .checkout_main--right {
    max-width: 100%;
  }

  .checkout_product--list {
    margin: 0;
  }

  .checkout_summary--info {
    gap: 20px;
  }
}

@media (min-width: 450px) and (max-width: 740px) {
  .checkout_main--left,
  .checkout_main--right {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }

  .checkout_summary--info {
    gap: 50px;
  }
}

@media (max-width: 450px) {
  .checkout_button {
    height: 38px;
    max-width: 150px;
    font-size: 16px;
  }

  .checkout_button {
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .checkout_button {
    margin-right: 0px;
  }
}
