/** @format */

/*========================================================
.cart_header--cnt {
  background-image: linear-gradient(var(--black-color), rgb(104, 100, 100));
}

.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_header--logo {
  display: flex;
  height: auto;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart_header--name {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 30px;
  line-height: 46px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
}

.cart_header--line {
  width: 30px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 32px;
  margin-right: 0px;
  margin-left: 15px;
}

.cart_header--cart {
  font-family: var(--normal-font);
  font-size: 22px;
  line-height: 40px;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: 500;
  color: #fff;
}

.cart_header--avatar {
  text-align: left;
}

@media (max-width: 740px) {
  .cart_header--cnt {
    padding-right: 18px;
    padding-left: 18px;
  }
}

@media (max-width: 540px) {
  .cart_header--name {
    font-size: 26px;
  }

  .cart_header--line {
    width: 24px;
  }

  .cart_header--cart {
    font-size: 20px;
  }
} */

.cart_bg_nav {
  background-color: var(--black-color);
  padding-bottom: 10px;
}
