/** @format */

.cart_bottom--container {
  background-color: #fff;
  color: var(--black-color);
  width: 100%;
  height: auto;
  box-shadow: 1px 0px 10px rgb(186, 186, 186);
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
  align-items: center;
  font-size: 18px;
}

.cart_bottom--left,
.cart_bottom--right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart_bottom--checkout {
  background-color: var(--button2-color);
  border: none;
  border-radius: 2.5px;
  height: 40px;
  width: 170px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.css-1arijsr-MuiSnackbar-root {
  top: 60px;
}

@media (max-width: 740px) {
  .cart_bottom--container {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    gap: 20px;
  }

  .cart_bottom--left,
  .cart_bottom--right {
    gap: 5px;
  }

  .cart_bottom--checkout {
    height: 35px;
    width: 100px;
    font-size: 14px;
  }

  .cart_bottom--number {
    display: none;
  }
}
