/** @format */

.menu_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu_header--img {
  background-image: url("https://www.vote2protectdisabled.org/images/joomlashine/sample/homepage/slide-2.jpg");
  /* background-image: url("https://wallpaperaccess.com/full/2389934.jpg"); */
  /* background-image: url("https://rare-gallery.com/uploads/posts/500235-coffee-hd-wallpapers.jpg"); */

  width: 100vw;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 740px) {
  .menu_header--nav {
    margin-left: 16px;
  }
}

@media (max-width: 540px) {
  .menu_header--img {
    height: 300px;
  }
}
